<div class="row">
  <div class="span12">
    <div class="alert alert-info">
      <p><b>The ability to edit your venture has not yet been enabled. We are working hard
      to finish this so that you may edit your venture on the website. For the time being,
      please send us an email at <em><a href="mailto:commtech@lsv.uky.edu">commtech@lsv.uky.edu</a></em>
      with the information you wish to update (including images, video links, team member alterations,
      etc) in an easy to understand format. Sorry for the inconvenience.</b></p>
    </div>
  </div>
</div>