<div class="venture-list" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

  <div class="row intro-text">
    <div class="span8">
      <div class="alert alert-info">
        Welcome to the public voting site for UK Venture Challenge, the annual business
        competition for student entrepreneurs. We encourage you to cast your vote here
        for your favorite student venture (only one vote a day please!). <b>Voting will
        remain open until midnight, Feb. 15</b>.
      </div>
    </div>
    <div class="span4">
      <div class="alert alert-info">
        <p>
          <a class=""
             href="http://www.uky.edu/GiveNow/welcome.htm?appeal=CI1206&select=CI&second=550413"
             target="_blank"
             data-original-title="Online Giving"
             data-content="Please specify UK Venture Challenge in the 'Other Fund' space in the Online Giving form"
             ui-jq="popover">
            <span style="font-size:17.5px; display:inline;"><i class="icon-gift"></i></span>
            iNET University of Kentucky Online Giving
          </a>
        </p>
        <p>
          Please specify UK Venture Challenge as “Other Fund.”
        </p>
      </div>
    </div>
    <div class="span12" style="margin-top:10px;">
      <div class="alert alert-success" style="text-align:center;">
        We invite you to support all of our student teams by attending UK Venture Challenge!
      </div>
    </div>
  </div>
<!--
  <div class="row intro-text">
    <div class="span12">
      <div class="alert alert-success">
        <p>Welcome to the public voting site for the 2013 University of Kentucky Venture Challenge.
        Venture Challenge is a business competition for UK undergraduate and graduate students
        designed to encourage entrepreneurship and give students the opportunity to develop
        innovative ideas into startup companies.</p>
      </div>
    </div>
    <div class="span3" style="margin-left:60px;">
      <div class="alert alert-info">

        <h>
          We encourage you to cast your vote here for your favorite student venture (only one vote a
          day please!). <b>Voting will remain open until until midnight February 15.</b>
        </p>
      </div>
    </div>
    <div class="span1 block">
      <div class="centered">
        <h2>
          <i class="icon-arrow-right"></i>
        </h2>
      </div>
    </div>

    <div class="span3">
      <div class="alert alert-info">

        <p>
          Vote up to <b>once a day</b> for your favorite team. Voting will remain open until <b>midnight February 15</b>.
        </p>
      </div>
    </div>
    <div class="span1 block">
      <div class="centered">
        <h2>
          <i class="icon-arrow-right"></i>
        </h2>
      </div>
    </div>

    <div class="span3">
      <div class="alert alert-info">

        <p>
          Support all of our student teams by attending <br>
          <b>UK Venture Challenge, Saturday, Feb. 16, 10:00 a.m. Davis Marksbury Building, 329 Rose Street</b>!
        </p>
      </div>
    </div>

    <div class="span12">

      <a class="btn btn-success"
         style="width:910px;margin-top:20px;"
         href="http://www.uky.edu/GiveNow/welcome.htm?appeal=CI1206&select=CI&second=550413"
         target="_blank"
         data-original-title="Online Giving"
         data-content="Please specify UK Venture Challenge in the 'Other Fund' space in the Online Giving form"
         ui-jq="popover">
        <span style="font-size:17.5px; display:inline;"><i class="icon-gift"></i></span>
        iNET University of Kentucky Online Giving
      </a>
    </div>

  </div>
-->
  <hr style="margin:0 0 20px 0;">
  <!--
  <div class="pull-left">
    <h2>{{site_title}}</h2>
  </div>

  <div class="pull-right">
    <a class="btn btn-primary" ng-click="predicate='votes'; reverse=!reverse"><i class="icon-sort"></i> Sort By Votes</a>
  </div>
  <div class="clearfix"></div>
  <hr>
  -->
  <div ng-repeat="venture in ventures | orderBy:predicate:reverse" class="row">
    <div class="span4">
      <iframe ui-hide="venture.videoEmbedLink == false" ng-src="{{venture.videoEmbedLink}}" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      <a href="{{root_url}}/uploads/full/{{venture.ventureInfo.ventureImages.1}}" ui-if="venture.videoEmbedLink == false && venture.ventureInfo.ventureImages.1 != null" ui-jq="lightbox">
        <img ng-src="{{root_url}}/uploads/medium/{{venture.ventureInfo.ventureImages.1}}" />
      </a>
    </div>
    <div class="span6">
      <h4><a href="#/venture/{{venture.id}}">{{venture.ventureInfo.ventureName}}</a></h4>
      <p>{{venture.ventureInfo.ventureDescription | cut:true:300:' ...' }}</p>
      <p class="text-info"><a href="#/venture/{{venture.id}}"><i class="icon-chevron-right"></i> Click to View Venture</a></p>
    </div>
    <div class="pull-right">
      <div class="well" style="padding:0 10px 10px 10px;text-align:center;">
        <h3 class="text-success">{{venture.votes}} Votes</h3>
        <a class="btn btn-success" ng-click="upvote(venture.id, $event)" ui-if="venture.voteable"><i class="icon-thumbs-up"></i> Vote</a>
      </div>
    </div>
    <div class="clearfix"></div>
    <hr>
  </div>
</div>