<div class="row" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

  <!-- Side Bar (Venture Team Info -->
  <div class="pull-right span3">

    <a href="{{root_url}}/uploads/full/{{activeVenture.ventureInfo.teamPicture}}" ui-hide="activeVenture.ventureInfo.teamPicture == null" ui-jq="lightbox">
      <img ng-src="{{root_url}}/uploads/thumbnail/{{activeVenture.ventureInfo.teamPicture}}"/>
    </a>
    <h4><i class="icon-lightbulb"></i> {{activeVenture.ventureInfo.teamName}}</h4>
    <ul>
      <li ng-repeat="teamMate in activeVenture.ventureInfo.teamMembers">{{teamMate.fullname}}</li>
    </ul>

      <a class="btn btn-success" href="http://www.uky.edu" target="_blank">Pledge to Support UK Venture Challenge Student Teams</a>

  </div>

  <!-- Venture Title and Vote -->
  <div class="span9">
    <div class="pull-left" style="max-width:550px;">
      <h2>{{activeVenture.ventureInfo.ventureName}}</h2>
    </div>
    <div class="pull-right">
      <div class="well" style="padding:0 10px 10px 10px;text-align:center;">
        <h3 class="text-success">{{activeVenture.votes}} Votes</h3>
        <a class="btn btn-success" ng-click="upvote(venture.id, $event)" ui-if="venture.voteable"><i class="icon-thumbs-up"></i> Vote</a>
      </div>
    </div>
  </div>

  <!-- Venture Video -->
  <div ui-hide="activeVenture.videoEmbedLink == false" class="span9" style="height:350px;">

    <iframe src="{{activeVenture.videoEmbedLink}}" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

  </div>

  <!-- Venture Description -->
  <div class="span9" style="margin-top:20px;">
    <h3><i class="icon-angle-right"></i> Description</h3>
    <div class="well">
      <p>{{activeVenture.ventureInfo.ventureDescription}}</p>
    </div>
  </div>

  <!-- Images -->
  <div ui-hide="activeVenture.ventureInfo.ventureImages.1 == null" class="span9">

    <a href="{{root_url}}/uploads/full/{{ventureImage}}" ng-repeat="ventureImage in activeVenture.ventureImages" ui-jq="lightbox" rel="ventureImages">
      <img ng-src="{{root_url}}/uploads/thumbnail/{{ventureImage}}"/>
    </a>

    </div>

  </div>
</div>

